# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Pods/
android/.gradle/
.env

# IDE
.idea/
.vscode/
*.iml

# Firebase
google-services.json
GoogleService-Info.plist
firebase_options.dart

# ignore service account keys
/service-account.json
