<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Gamenect</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>gamenect</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<key>CFBundleURLTypes</key>
	<array>
		<!-- Google Sign In -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.226979979166-9mrboucg21mk4s24butbkcksm4g14sr3</string>
			</array>
		</dict>
		<!-- Facebook Login -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb696308786784859</string>
			</array>
		</dict>
		<!-- Phone Auth - Thêm CFBundleTypeRole -->
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-226979979166-ios-1bf27ecb5e4c297631408f</string>
			</array>
		</dict>
	</array>
	
	<key>GIDClientID</key>
	<string>226979979166-9mrboucg21mk4s24butbkcksm4g14sr3.apps.googleusercontent.com</string>

	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>google</string>
		<string>com.googleusercontent.apps.226979979166-9mrboucg21mk4s24butbkcksm4g14sr3</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<!-- Phone Auth schemes -->
        <string>tel</string>
        <string>sms</string>
	</array>

	<!-- Thêm cấu hình Facebook -->
	<key>FacebookAppID</key>
	<string>696308786784859</string>
	<key>FacebookClientToken</key>
	<string>3db010a9809e1afbaf83fb334dc0f653</string>
	<key>FacebookDisplayName</key>
	<string>GameNect</string>

	<!-- Quyền truy cập Camera và Photo Library -->
    <key>NSCameraUsageDescription</key>
    <string>Ứng dụng cần quyền truy cập camera để chụp ảnh đại diện</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Ứng dụng cần quyền truy cập thư viện ảnh để chọn ảnh đại diện</string>

	<!-- Quyền truy cập vị trí -->
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>GameNect cần truy cập vị trí của bạn để tìm người chơi gần bạn</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>GameNect cần truy cập vị trí của bạn để tìm người chơi gần bạn</string>
</dict>
</plist>
